
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    color: #333;
}

nav {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 60%;
}

.wheel-container {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-container {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wheel {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white;
    overflow: hidden;
    background: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

.center {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

textarea, input[type="number"] {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

h3 {
    text-align: center;
    color: blue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1.25rem; 
}

@media (max-width: 768px) {
.container {
    flex-direction: column;
    padding: 10px;
}
.column-25, .column-75 {
    width: 100%;
    padding: 0;
}
}

